body {
    background:url(https://x1aokehuang.github.io/images/background/bg00.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}
